body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
  }

.navbar{
    height: 120px;
    display: flex;
    background-color: black;
    position: sticky;
    top: 0;
}

.container{
    max-width: 1100px;
    display: flex;
    align-items: center;
}

.logo{
    color: white; 
    position: absolute;
    left: 10%;
    display: flex;
    align-items: center;
}


.elements ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    position: absolute;
    right: 10%;    
    bottom: 30%;
}

.elements ul li:not(:last-child){
    margin-right: 50px;
}

.elements li{
    color: white;
}
.elements ul a{
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.elements ul a:active{
    color: white;
}

.elements ul a.active {
    font-size: 16px;
    color: aqua;
    font-weight: 500;
    position: relative;
}



