.grid{
    display: grid;
    justify-content: center;
    flex-basis: 60%;
    margin: 20px;
}

.container_podcast{
    display: flex;
}

.h1{
    margin: 20px;
}

.p{
    margin: 20px;
    font-weight:600;
}

.text_container{
    flex-basis: 40%;
}