
*{
    margin: 0;
    padding: 0;
   
}

  
body{
    font-family: 'Poppins','sans-serif';
}

.container-contact-main{
    background-color: white;
}

.container-contact{
    width: 90%;
    height: 0%;
    margin: 0px auto;
}

.contact-box{
    background: #fff;
    display: flex;
}

.contact-left{
    flex-basis: 50%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 50%;
    padding: 40px;
}

.contact-mid{
    flex-basis: 50%;
    padding: 40px;
    background: #fff;
    color: #1c00b5;
}

.contact-mid p{
    font-weight: 700;
    color: black;
    font-size: 18px;
}

h1{
    margin-bottom: 10px;
}

h5{
    margin-top: 10px;
    color: red;
}

h2{
    color: #1c00b5;
    padding-bottom:10px;
}


.container p {
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    border-width: 1px;
}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
  }

  .invalid input:focus {
    border-color: #00b7ff;
    background-color: #d2f1fb;
  }

  textarea{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
   resize: none;
  border-width: 1px;
}

.invalid textarea {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
  }

  .invalid textarea:focus {
    border-color: #00b7ff;
    background-color: #d2f1fb;
  }


label{
    margin-bottom: 6px;
    display: block;
    color: black
}

button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-mid h3{
    font-weight: 600;
    margin-bottom: 30px;
}